@import "global.css";
@import "main.css";

.proper-body {
    background-image: url("/images/background-image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}